body{
   margin: 0;
   padding: 0; 
}
p {
    font-size: 24;
    background-color: rgb(255, 255, 255);
}

.list-conteiner{
    display: inline-block;
    border-style:solid ;
    border-width: 0.5px;
    padding-right: 20px;
}
.list-conteiner>p{
    text-align: center;
    font-weight: bolder;
}

.img-conteiner{
   float: right;
   border-style: solid;
   padding: 5px;
   margin-left: 10px;
}

.img-conteiner>div{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-page{
    padding-left: 15px;
}

.logo-html{
    max-width: 120px;

}
/* верхняя навигационная панель */

.nav-conteiner{
    display: block;
    justify-content: space-between;
    background-color: rgb(255,163,26);
}

.shapka>div>img{
    width: 10px;
}
.nav-conteiner>nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-conteiner>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}


@media (max-width: 900px){
    .nav-conteiner{
       flex-direction: column; 
    }
}

.page{
    display: flex;
    justify-content: center;
}

.header{
    width: 14%;
    background-color: rgb(255,69,0);
}

.section{
    width: 82%;
}

.header>ol{
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0; 
    padding-bottom: 10px;
}

.header>div{
    width: 100%;
}
.header>div>img{
    width: 100%;
}